.deck {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 0;
}

.deck-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 13vw;
}

.deck-item b {
    text-shadow: 0 0 5px #000;
    font-size: 0.75em;
    color: #EDD63B;
}

.deck-item button {
    border-radius: 10px;
    background: rgb(38, 21, 13);
    background: radial-gradient(circle, rgba(38, 21, 13, 1) 8%, rgba(52, 33, 16, 1) 45%);
    color: #e0e4e8;
    cursor: pointer;
    font-size: 0.6em;
    padding: 5px;
}

.deck-item button:hover {
    text-shadow:
        0px -1px 5px #775787,
        0px 1px 5px #775787,
        -1px 0px 5px #775787,
        1px 0px 5px #775787;

    box-shadow: 0px -1px 5px #775787,
        0px 1px 5px #775787,
        -1px 0px 5px #775787,
        1px 0px 5px #775787;
}

.deck-item-image {
    margin: 10px 0;
    width: 5vw;
    position: relative;
}

.deck-item-image img {
    box-shadow: 0 0 5px #000;
    width: 100%;
}

.deck-item-stack {
    margin: 10px 0;
    width: 5vw;
    position: relative;
}

.deck-item-stack img {
    width: 100%;
}

.deck-item-stack img:nth-child(1) {
    position: relative;
    top: 0;
    left: 0;
    z-index: 800;
    box-shadow: 1px 1px 5px #000;
}

.deck-item-stack img:nth-child(2) {
    position: absolute;
    left: 3px;
    top: 3px;
    box-shadow: 1px 1px 5px #000;
    z-index: 700;
}

.deck-item-stack img:nth-child(3) {
    position: absolute;
    left: 6px;
    top: 6px;
    box-shadow: 1px 1px 5px #000;
    z-index: 600;
}

.deck-item-image i {
    color: #fff;
    width: 100%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.3);
    transition: all .2s linear;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.deck-item-image i svg {
    color: #000;
    font-size: 1.7em;
}

.deck-item-image i:hover {
    opacity: 1;
}

.modal-cards-title {
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.modal-cards-list {
    display: flex;
    width: 95vw;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.modal-cards-list div {
    position: relative;
    max-width: 9vw;
    min-width: 4vw;
    transition: all 0.2s linear;
    cursor: zoom-in;
}

.modal-cards-list div:hover {
    transform: scale(1.9);
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.modal-cards-list img {
    width: 100%;
}

@media all and (max-width: 1690px){
    .deck-item {
        width: 20vw;
    }
}

@media all and (max-width: 1000px) {

    .modal-cards-list div {
        max-width: 15vw;
    }

    .deck-item {
        width: 30vw;
    }

    .deck-item-image {
        width: 10vw;
    }

    .deck-item-stack {
        width: 10vw;
    }

    .deck-item b {
        font-size: 0.4em;
    }
}