.garden {
    display: flex;
    height: 50%;
    margin-top: 1vh;
    gap: 2vw;
}

.garden-selected {
    background-color: rgb(255, 255, 255, .5);
    padding: 1vh;
    border-radius: 15px;
}

.garden-selected::before {
    content: 'DESTINO';
    position: relative;
    z-index: 9999;
    left: -2px;
    top: calc(50% - 17.5px);
    height: 35px;
    color: #EDD63B;
}

.garden-item {
    list-style: none;
    cursor: pointer;
}

.garden-item li {
    max-height: 2vh;
}

.garden-item li div {
    position: relative;
}

.garden-item li div:hover {
    transform: scale(1.1);
    z-index: 9999;
}

.garden-item li div img {
    max-height: 15vh;
    max-width: 12vw;
}

.garden-item li.selected-card {
    transform: scale(1.1);
}

.garden-item li div i {
    transform: scale(0.9);
    color: #fff;
    font-size: 80%;
    position: absolute;
    bottom: 10px;
    left: 1px;
    background: #000;
    width: 1.3rem;
    height: 1.3rem;
}

.garden-item li div i:hover {
    transform: scale(1);
}
