.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 1000;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 1001;
}

.modal.enter-done .modal-content {
    transform: scale(1);
}

.modal-header,
.modal-footer {
    color: #fff;
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    background: #fff;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.card {
    border: 1px solid #000;
    text-align: center;
    min-width: 100px;
    min-height: 50px;
}