@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

.deck {
    border: 2px solid #000;
    text-align: center;
    width: 20vw;
    height: 20vh;
}

.image-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(2jpx);
    -webkit-filter: blur(2px);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-size: 1.7em;
    font-family: 'Shantell Sans', cursive;
}

button {
    font-size: 1em;
    font-family: 'Shantell Sans', cursive;
}