body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#initial-screen {
  display: flex;
  width: 85%;
  margin: 10% auto;
  flex-direction: column;
  align-items: center;
}

.initial-screen-players {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  flex-flow: row wrap;
}

.initial-screen-players span {
  flex: 0 0 100%;
  text-align: center;
  font-weight: bold;
}

.initial-screen-players button {
  flex: 0 0 48%;
  height: 4.5em;
  margin: 1%;
  cursor: pointer;
  /* border-radius: 10px; */
}